* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #89ddcb; */
}

html {
    font-size: 16px;
}

:root {
    --blue: #68cbe1;
    --nblue: #55b2bc;

    --white: #ffffff;
}

.ntext {
    font-size: 1rem;
}

.cp {
    cursor: pointer;
}





.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.mleft {
    height: 100%;
    width: 50%;
}

.mlimg {
    height: 100%;
    width: 100%;
}

.mright {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mrcon {
    height: 52%;
    width: 70%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.mrhead {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    width: 88%;
    margin-bottom: 8%;

}

.mrcform {
    width: 88%;
}

.forpw {
    text-align: center;
    color: var(--blue);
}

.form-control:focus {
    border: 2px solid var(--blue) !important;
    box-shadow: 1px 1px 8px var(--blue) !important;
}

button {
    background-color: var(--blue) !important;
    border: 1px solid var(--blue) !important;
}

button:hover {
    background-color: var(--nblue) !important;
    border: 1px solid var(--nblue) !important;
}

.terms {
    text-align: center;
}

@media screen and (max-width : 1200px) {
    .mleft {
        display: none;
    }

    .mright {
        width: 80%;
        margin: auto;
    }

    .mrcon {
        height: 52%;
        width: 80%;
        max-width: 600px;
    }

}

@media screen and (max-width : 768px) {
    .mright{
        width: 100%;
    }
    .mrcon{
        width: 100%;
    }
    .mrimg{
        scale: 0.8;
    }
    .mrhead{
        font-size: 1.7rem;
    }
}